.competency{
    margin: 0.1rem;
    // max-width: 80rem;
    box-shadow: 0 5px 10px rgb(240 240 240 / 20%);
    border-radius: var(--div-radius);
    border-width: 0.5px;
    // width: 100%;
    text-align: left;
    // max-width: 80rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    animation-delay: 1s;
    background-color: white;
    padding: 0.7rem;
    animation: fade-in ease-in 0.5s forwards;
    opacity: 0;
    margin-bottom: 1rem;
    animation-delay: 1s;
    color: var(--info-text);
    h2{
        margin: 0;
        margin-bottom: 0.5rem;
        color: black;
    }
    @media only screen and (min-width: 960px)  {
        margin-bottom: 4rem;
        margin-top: 2.5rem;
    }
}


.skillsWrapper{
    // border: solid black;
    display: flex;
    flex-wrap: wrap;
    div{
        padding: 0 1rem 0 0;
    }
}


@keyframes fade-in {
    0%   { 
    opacity: 0; 	
    }
    100% { 
    opacity: 1;
    }
}