.competency{
    margin: 0.1rem;
    max-width: 80rem;
    box-shadow: 0 3px 10px rgb(240 240 240 / 20%);
    border-radius: var(--div-radius);
    border-width: 0.5px;
    width: 100%;
    text-align: left;
    max-width: 80rem;
    display: flex;
    justify-content: space-around;
    animation-delay: 1s;
    background-color: white;
    padding: 0.7rem;
    animation: fade-in ease-in 0.5s forwards;
    opacity: 0;
    animation-delay: 1s;
}

.skillContainer{
    padding: 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--div-radius);
    background-color: var(--red);
    color: white;
    animation: fade-in ease-in 0.5s forwards;
    opacity: 0;
    animation-delay: 1s;
}


@keyframes fade-in {
    0%   { 
    opacity: 0; 	
    }
    100% { 
    opacity: 1;
    }
}